<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483911161149-rhskljcnkj53j209fqh5pusvjmocnpd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483911161149-rhskljcnkj53j209fqh5pusvjmocnpd5</string>
	<key>API_KEY</key>
	<string>AIzaSyAKDJoVmjqs1hdK89dmx06_Qip_xEGJajU</string>
	<key>GCM_SENDER_ID</key>
	<string>483911161149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.engingulek.herseyBurda</string>
	<key>PROJECT_ID</key>
	<string>herseyburda-e0e0b</string>
	<key>STORAGE_BUCKET</key>
	<string>herseyburda-e0e0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483911161149:ios:1c824b7c6f184575b12154</string>
</dict>
</plist>